<div class="container">
  <form class="content" [formGroup] = "loginForm" (ngSubmit) = "submitData(userr.value, password.value)">
    <h2 class="text-center">Login Form</h2>
      
      <div class="row">
        <!-- User Name -->
        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" class="form-control" #userr
                 formControlName="userName" placeholder="User Name">

            <!-- Error Block User Name -->
            <div *ngIf="userName.invalid && (userName.touched || userName.dirty)">
                <span class="error" *ngIf="userName.errors?.UserValidators">*User Name is required</span>
                <div><span class="error" *ngIf="userName.errors?.UserValidators">*Enter correct User Name</span></div>
            </div>
        </div>

        <!-- Password -->
        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" class="form-control" #pasword
                 formControlName="password" placeholder="Password">

            <!-- Error Block Password -->
            <div *ngIf="password.invalid && (password.touched || password.dirty)">
              <span class="error" *ngIf="password.errors?.PasswordValidators">*Password is required</span>
              <div><span class="error" *ngIf="password.errors?.PasswordValidators">*Enter correct Password</span></div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="mt-2 mb-2 col-lg-12 col-12">
          <button class="btn" [disabled]="loginForm.invalid">Submit</button>
        </div>
      </div>

  </form>
</div>